.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: absolute;
}
.card-info {
    border-left: 5px solid #0d6efd;
}
.card .card-body .stat-icon {
    font-size: 2rem;
    color: #0d6efd;
}
body {
    display: flex;
}
/* Styling Sidebar */
/* Sidebar Styling */
.bg-primary {
    background-color: #007bff !important;
}

.nav-link {
    font-size: 15px;
    padding: 10px;
    transition:  0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f8f9fa;
    border-radius: 5px;
}

.profile-image {
    border: 2px solid #ffffff;
}

ul.nav.flex-column {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 15px;
}
